main
{
    display:inline-block;
	align-self:center;
	max-width:1290px;
    width: calc(100% - 22ch);
	
}

h1 img {
    max-height: 1.2em;
    max-width: 3ch;
    width :auto;
    height: auto;
}

section
{
	margin-left: 3%;
}

article {
    min-height: 10em;
}

section > footer li {
    padding: 3ch;
    border: 1px solid black;
}

#paiementBlock {
    opacity: 0.4;
}

table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
tbody {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

th, td {
    padding: 10px;
}

#totalTTC {
    text-align: right;
}

#prixTotal {
    background: #EEEEEE;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0.5px inset black;
    border-radius: 4px;
}

