main
{
    display:inline-block;
	align-self:center;
	max-width:1290px;
    width: calc(100% - 22ch);
}

h1 img {
    max-height: 1.2em;
    max-width: 3ch;
    width :auto;
    height: auto;
}

section
{
	margin-left: 3%;
}

article 
{
    min-height: 10em;
}

.lien_panier, #paiementBlock {
    padding: 2ch;
	
	border: 1px solid #666;
	border-radius:5px;
	background-color: #808080;
	box-shadow: 0px 0px 2px 1px RGBa(0,0,0,0.25), 
				inset 1px 1px 0px 0px RGBa(255,255,255,0.25);
	color : white;
	text-shadow:1px 1px 0px RGBa(0,0,0,0.5);
	
	border-radius: 5px;
}

.lien_panier:hover {
	background-color:#A0A0A0;
}
.lien_panier:active {
	box-shadow: 1px 1px 10px RGBa(0,0,0,0.25) inset, 
				0px 1px 0px RGBa(255,255,255,0.4);

}

section > nav li
{
	margin-top:50px;
}


section nav ul
{
	list-style:none;
	display:flex;
	flex-direction:row;
	justify-content:space-around;

	padding:0;
	margin-bottom:0;
}	
section nav a {
    text-decoration: none;
	color : white;
}

#paiementBlock {
    opacity: 0.4;
}
#paiementBlock:hover {
	color-background:inherit;
}


table {
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
tbody {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

th, td {
    padding: 10px;
}

#totalTTC {
    text-align: right;
}

#prixTotal {
    background: #EEEEEE;
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    margin-right: 20px;
    border: 0.5px inset black;
    border-radius: 4px;
}

.quant
{
	width : 50px;
}

