footer 
{
	color : #333;
	margin:10% -8px -8px -8px;
	padding-bottom:10px;
	
	
	border-top: 1px solid #EEE;
	background-color:#ffeeff;
	
	box-shadow : 0px -1px 25px #BBB  
}
footer ul
{
	list-style:none;
	display:flex;
	flex-direction:row;
	justify-content:space-around;

	padding:0;
	margin-bottom:0;
}

footer > ul > li:last-child > ul{
	flex-direction:column;

}

footer a
{
	text-decoration: none;
	color : #333;
	border-bottom: 1px dotted #333;
}

footer a:hover
{
	border-bottom: none;
	font-weight:bold;
}