html 
{
	height:100%;
}

/* mise en place du footer fixé en bas de la page */
body 
{
	min-height:100%;
	margin:0;
	padding:0;
	
	padding-bottom:10%;
	position:relative;
}
footer 
{
	position:absolute;
	bottom:-24px;
	right: 0;
	left:0;
}

/* mise en place des différentes parties du footer*/
footer ul
{
	list-style:none;
	display:flex;
	flex-direction:row;
	justify-content:space-around;

	padding:0;
	margin-bottom:0;
}


body > footer 
{
	color : #333;
	padding-bottom:10px;
	
	
	border-top: 1px solid #EEE;
	background-color:#ffeeff;
	
	box-shadow : 0px -1px 25px #BBB  
}


/* mise en place en forme de colonne des 2 derniers points */
body > footer > ul > li:last-child > ul{
	flex-direction:column;
}


/* mise en forme des liens */
body > footer a {
    text-decoration: none;
	color : #333;
	border-bottom: 1px dotted #333;
}
body > footer a:hover
{
	border-bottom: none;
	font-weight:bold;
}
