@font-face
{
	font-family:'Infinite_Stroke_Bolder';
	src:url('../police/Infinite_Stroke_Bolder.otf');
}

* {
	font-family: Ubuntu, Calibri, sans-serif;
}

header
{
	background-image:url('../images/dance.jpg');
	background-size:100%;
	background-position: 0% 75%;
	padding-bottom:300px;
	
	margin: 0 	-0.5em;
	margin-top:-1.5em;
}


header > div
{
	margin:auto;
	padding:auto;
	background-color: RGBa(255,255,255,0.5);
	
	width:100%;
	position:fixed;
	
	z-index:1;
}

header div img
{
	width:auto;
	height:3em;
	margin-top:0.2em;
	margin-left:0.2em;
	
	float:left;
	padding-top:1em;
}

header div h1
{
	padding-left:1.2em;
	font-family: Infinite_Stroke_Bolder, Arial;
	font-size:2.5em;
	
	margin:auto;
	padding-top:0.3em;
}

header nav
{
	margin-left:6em;
	margin-top:-1.8em;
	font-size:1.2em;
	
}
header ul
{
	list-style:none;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	
	margin:auto;
	margin-bottom:-0.7em;
}
header ul li
{
	padding:0;
	margin:auto;
}

#loupe
{
	width:1em;
	height:auto;
	padding:0;
}
#cart
{
	width:1.9em;
	height:auto;
	margin-top:-0.8em;
}
#panier
{
	font-size:0.8em;
}

header a 
{
	color : #333333;
	text-decoration:none;
}
