/* mise en page de la navigation */
#navArticles {
    display:inline-block;
	border-right: 2px black dotted;

	width: 20ch; 
	height: auto;
	
	margin-top: 1em;
	margin-left:0;
	padding: 0;
}

#navArticles a {
	color: black;
	text-decoration: none;
}

/* ajout d'une flèche devant lors du survol du lien */
#navArticles li li a:hover:before {
	content:"➔";
}


/* mise en forme des différentes catégories */
#navArticles ul {
	padding-left: 10%;
	text-align: left;
}
#navArticles li > ul
{
	margin-bottom:1.5em;
}
#navArticles li {
	font-size : 1.5em;
	font-weight:bold;
	list-style: none;
}
#navArticles li li {
	font-size : 0.8em;
	font-weight:normal;
}



/* mavigation en forme de bandeau pour l'acceuil */
#navArticlesI
{
	font-size:1.8em;
	margin: 0 20px;
}

#navArticlesI ul
{
	display:flex;
	flex-direction:row; 
	
	margin:auto;
	padding:0;
	
	list-style:none;
	
}

.categorie 
{
	display:inline-block;
}

.categorie a
{
	display:block;
	padding: 0 40%;
	width:100px;
	
	text-decoration:none;
	color: #333;
	
}


.categorie:hover
{
	background-color:RGBa(220, 200, 200, 0.5);
	border-radius:0 0 0.5em 0.5em;
	border-right: 0.5px #ccc solid;
	border-left: 0.5px #ccc solid;
	border-bottom: 0.5px #CCC solid;
	
	font-weight:bold;
}


