#navArticlesI
{
	font-size:1.8em;
	
}

#navArticlesI ul
{
	display:flex;
	flex-direction:row; 
	
	justify-content:center;		
	margin:auto;
	padding:0;
	
	list-style:none;
	
}

#navArticlesI ul a 
{
	text-decoration:none;
	color: #333;
	
	padding: 0 12%;

}


#navArticlesI > ul > a:hover
{
	background-color:RGBa(220, 200, 200, 0.5);
	border-radius:0 0 0.5em 0.5em;
	border-right: 0.5px #ccc solid;
	border-left: 0.5px #ccc solid;
	border-bottom: 0.5px #CCC solid;
	
	font-weight:bold;
}







