#navArticlesI
{
	font-size:1.5em;
	
}

#navArticlesI ul
{
	display:flex;
	flex-direction:row; 
	
	justify-content:center;		
	margin:auto;
	padding:0;
	
	list-style:none;
	
}

#navArticlesI ul a 
{
	text-decoration:none;
	color: #333;
}
#navArticlesI ul li
{
	padding: 0 12%;
}
#navArticlesI > ul > li:hover
{
	background-color:RGBa(220, 200, 200, 0.5);
	border-radius:0 0 0.5em 0.5em;
	border-right: 0.5px black solid;
	border-left: 0.5px black solid;
	border-bottom: 0.5px black solid;
}







