section {
    text-align: center;
}
section fieldset
{
	padding-left:50px;
	padding-right:50px;
}
section h1
{
	font-size:1.8em;
	margin:10px 0;
}
form {
    display: inline-block;
}

section label, section input
{
	display:block;
	text-align:left;
}

section h3
{
	margin:10px 0 5px 0;
}
section h2
{
	margin-top:20px;
	margin-bottom:5px;
}

#payer
{
	display:block;
	width:100%;
	margin-top:10px;
	padding:3px 0;
	text-align:center;
	text-transform: uppercase;
	
	border-radius:5px;
	
	background-color: #888;
	box-shadow: 0px 0px 2px 1px RGBa(0,0,0,0.25), 
				inset 1px 1px 0px 0px RGBa(255,255,255,0.25);
	color : white;
	text-shadow:1px 1px 0px RGBa(0,0,0,0.5);
}

#payer:hover
{
	background-color:#A0A0A0;
	cursor:pointer;	
}

