main
{
	align-self:center;
	max-width:1290px;
	

}
main h1
{
	text-align:center;
	font-size:2em;
}

#principal
{
	display:flex;
	flex-direction:row;
	
	margin:0;
}
section
{
	margin-left: 3%;
}

article 
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:0;
	
	flex-wrap:wrap;
}

figure
{	
	margin:0em 2em 1em 2em;
}

figure figcaption
{
	display:flex;
	flex-direction:column;
}
figure figcaption :first-child :nth-child(2)
{
	font-size:1.2em;

}
figure figcaption strong
{
	font-weight:bold;
}

figure a:first-child
{
	text-decoration:none;
	color: #333;
}
article img
{
	width: 250px;
	height:auto;
	
	border-radius: 3px;
}
figure img:first-child:hover
{
	opacity:0.7;
}

.add_link
{
	display:flex;
	
	align-self:right;
	margin-top:-1.8em;	
	padding: 0.2em 0em;
	
	border: 1px solid #666;
	border-radius:5px;
	background-color: #808080;
	box-shadow: 0px 0px 2px 1px RGBa(0,0,0,0.25), inset 1px 1px 0px 0px RGBa(255,255,255,0.25);
	color : white;
	text-shadow:1px 1px 0px RGBa(0,0,0,0.5);
	text-decoration:none;
}
.cart_prod
{
	width:1.3em;
	height:auto;
	margin-left:0.6em;
}
.add_cart
{
	margin-left:0.2em;
	align-self:center;

}

