section h1
{
	text-align:center;
	font-size:1.8em;
}

#pres
{
	text-align:center;
}
section ul li 
{
	text-align:center;
}
section ul 
{
	list-style:none;
	
	display:flex;
	flex-direction:row;
	justify-content:center;
	
	margin:10px 0 30px 0;
}

section ul img
{
	width:150px;
	height:auto;
}
section ul li:first-child
{
	margin-right:50px;
}
section h1 + p 
{
	padding-bottom:20px;
}


section p:nth-child(4), section p:last-child, section p:nth-child(2)
{
	margin:0 3%;
}

section a {
	color : #777;
	border-bottom: 1px dotted #777;
	text-decoration:none;
}

section a:hover {
	font-weight:bold;
	border-bottom:none;
}
